:root{
    /* 
    /* Theme 1 */
    /* Backgrounds */
    --very-dark-desaturated-blue-main: hsl(222, 26%, 31%);   /* (main background) */
    --very-dark-desaturated-blue-keypad: hsl(223, 31%, 20%);    /* (toggle background, keypad background) */
    --very-dark-desaturated-blue-screen: hsl(224, 36%, 15%);    /* (screen background) */
    /* Keys */
    --desaturated-dark-blue-bg : hsl(225, 21%, 49%);/* (key background) */    
    --desaturated-dark-blue-shadow: hsl(224, 28%, 35%);/* (key shadow) */
    --red: hsl(6, 63%, 50%);    /* (key background, toggle) */
    --dark-red: hsl(6, 70%, 34%); /* (key shadow)*/
    --light-grayish-orange : hsl(30, 25%, 89%);/* (key background) */
    --grayish-orange: hsl(28, 16%, 65%);/* (key shadow)*/
    /* Text */
    --very-dark-grayish-blue: hsl(221, 14%, 31%);
    --white: hsl(0, 0%, 100%);


    /* Theme 2 */
    /* Backgrounds */
    /* Light gray (main background): hsl(0, 0%, 90%)
    Grayish red (toggle background, keypad background): hsl(0, 5%, 81%)
    Very light gray (screen background): hsl(0, 0%, 93%)
    Keys
    Dark moderate cyan (key background): hsl(185, 42%, 37%)
    
    Very dark cyan (key shadow): hsl(185, 58%, 25%)
    
    Orange (key background, toggle): hsl(25, 98%, 40%)
    
    Dark orange (key shadow): hsl(25, 99%, 27%)
    
    Light grayish yellow (key background): hsl(45, 7%, 89%)
    
    Dark grayish orange (key shadow): hsl(35, 11%, 61%)
    
    Text
    Very dark grayish yellow: hsl(60, 10%, 19%)
    White (text): hsl(0, 0, 100%)

    /* Theme 3 */
    /* Backgrounds */
    /* Very dark violet (main background): hsl(268, 75%, 9%) 
    Very dark violet (toggle background, keypad background, screen background): hsl(268, 71%, 12%)
    Keys
    Dark violet (key background): hsl(281, 89%, 26%)
    
    Vivid magenta (key shadow): hsl(285, 91%, 52%)
    
    Pure cyan (key background, toggle): hsl(176, 100%, 44%)
    
    Soft cyan (key shadow): hsl(177, 92%, 70%)
    
    Very dark violet (key background): hsl(268, 47%, 21%)
    
    Dark magenta (key shadow): hsl(290, 70%, 36%)
    
    Text
    Light yellow: hsl(52, 100%, 62%)
    Very dark blue: hsl(198, 20%, 13%)
    White (text): hsl(0, 0, 100%)  */
}
*{
    box-sizing: border-box;
}

body{
    font-family: 'Spartan', sans-serif;
    font-size: 32px;
    width: 540px;
    margin: 25vh auto;
    height: 100vh;
}

/* .calcWrapper{ 
} */
.header{
    display: flex;
    justify-content: space-between;
}
.themeWrapper{
    margin: auto 0;
    font-size: 12px;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
}
.tTitle{
    display: flex;
    justify-content: space-around;
    align-items: center;   
    grid-column: 1/2;
    grid-row: 2;
}
.tTitle p{
    letter-spacing: 2px;
}
.tVer{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    grid-column: 2/3;
    grid-row: 1;
}
.toggleWrapper{
    grid-column: 2/3;
    grid-row: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.toggleForm{
    display: flex;
    align-items: stretch;
    position:relative;
    width:70px;
    height:26px;
    cursor: pointer;
    border-radius: 1.5em;
}
.theme1 .toggleForm{
    border: 4px solid var(--very-dark-desaturated-blue-keypad);
    background-color:var(--very-dark-desaturated-blue-keypad);
}
.ball{
    position:absolute;
    left:0px;
    width:1.5em;
    height:1.5em;
    border-radius: 1.5em;  
}
.theme1 .ball{
    background-color: var(--red); 
}
input[type="radio"]{
    appearance:none ;
}
label{
    appearance:none ;
    flex-grow: 1;
    cursor: pointer;
    outline:none;
}

.theme1{
    background-color: var( --very-dark-desaturated-blue-main);
}
/* .theme1H{ */
 .theme1 .header{
   color: var( --white);
}
.theme1 .screen{
    background-color: var(--very-dark-desaturated-blue-screen);
    color: var( --white);
}
.theme1 .board{
    background-color: var(--very-dark-desaturated-blue-keypad);
}
.theme1 .key{
    background-color: var(--light-grayish-orange);
    box-shadow: 0 5px var(--grayish-orange);
}

.theme2{
    background-color: lightseagreen;
}
.theme3{
    background-color: lightskyblue;
}
.screen{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 4em;
    padding: 0 .5em;
    margin-bottom: 24px;
    border-radius: 10px;
}
.screen span{
    flex-grow: 1;
    text-align: end;
    font-size: 1.5em;
    height: 1em;
}

.board{
    display:grid;
    grid-template-areas: "k7 k8 k9 del"
    "k4 k5 k6 add"
    "k1 k2 k3 sub"
    "point k0 divide multiply"
    "reset reset equal equal";
    gap:20px;
    padding:1em;
    border-radius: 10px;
}
.key{
    width:100px;
    height:60px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.key span{
    height:1em;
}
.k0{
    grid-area:k0;
}
.k1{
    grid-area:k1;
}

.k2{
    grid-area:k2;
}
.k3{
    grid-area:k3;
}
.k4{
    grid-area:k4;
}
.k5{
    grid-area:k5;
}
.k6{
    grid-area:k6;
}
.k7{
    grid-area:k7;
}
.k8{
    grid-area:k8;
}
.k9{
    grid-area:k9;
}
.del{
    grid-area:del;
    font-size: 18px;
}
.add{
    grid-area:add;
}
.sub{
    grid-area:sub;
}
.divide{
    grid-area:divide;
}
.multiply{
    grid-area:multiply;
}
.point{
    grid-area:point;
}
.reset{
    grid-area:reset;
    width: 225px;
    font-size: 18px;
}
.theme1 .reset, .theme1 .del {
    color:var(--white);
    background-color: var(--desaturated-dark-blue-bg);
    box-shadow: 0 5px var(--desaturated-dark-blue-shadow);     
}
.equal{
    grid-area:equal;
    width: 225px;
}
.theme1 .equal{
    color:var(--white);
    background-color: var(--red);
    box-shadow: 0 5px var(--dark-red);     
}
